$ht-code-bgcolor: #fdf6e3;

@import "syntax-light.scss";

.highlight {
    &::-webkit-scrollbar {
        background: $ht-code-bgcolor;
    }
    &::-webkit-scrollbar-thumb {
        background: scale-color($ht-code-bgcolor, $lightness: -13%, $saturation: -80%);
    }

    pre {
        padding-left: 0.25em;
    }
}
